<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Updating Student</title>
</head>
<body>
<form action="" method="POST" onsubmit="return confirm ('Confirmed ?')" >
    <table>
        <tr>
            <td> Name: </td>
            <td> <input type="text" value="{name}" name="name"></td>
        </tr>
        <tr>
            <td> Practice </td>
            <td><input type="text" value="{practice_Points}" name="practical_Points"></td>
        </tr>
        <tr>
            <td> Theory </td>
            <td><input type="text" value="{theoretical_Points}" name="theoretical_Points"></td>
        </tr>
        <tr>
            <td>  Description </td>
            <td> <input type="text" value="{description}" name="description" autocomplete="off"></td>
        </tr>
    </table>
    <button type="submit">Submit</button>
</form>


</body>
</html>