<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add</title>
</head>
<body>
<h1>Adding Student</h1>
<form action="" method="POST" onsubmit="return confirm ('Confirmed ?')" >
  <table>
    <tr>
      <td> ID: </td>
      <td> <input type="text" name="Class_ID"></td>
    </tr>
    <tr>
      <td> Name: </td>
      <td> <input type="text" name="name"></td>
    </tr>
    <tr>
      <td> Practice :</td>
      <td><input type="text" name="practical_Points"></td>
    </tr>
    <tr>
      <td> Theory </td>
      <td><input type="text" name="theoretical_Points"></td>
    </tr>
    <tr>
      <td>  Comment:</td>
      <td> <input type="text" name="comment"></td>
    </tr>
    <tr>
      <td>  Description:</td>
      <td> <input type="text" name="description"></td>
    </tr>
  </table>
  <button type="submit">Submit</button>
</form>


</body>
</html>